<section>

<div *ngIf="selected > -1">
    <h1>Aktualizuj:</h1>
    <form [formGroup]="formModel" (ngSubmit)='update()'>
        
        <h4>Post id: {{posts[selected].id}}</h4>
        <input type="text" class="form-control" aria-label="Title" id="title" formControlName="title" placeholder="Title">
        <div *ngIf="title.invalid && (title.touched || title.dirty)" class="alert alert-danger">

            <div *ngIf="title.errors.required">
                Title is required.
            </div>

        </div>
        <br>

        <input type="text" class="form-control" id="body" formControlName="body" placeholder="Body">
        <div *ngIf="body.invalid" class="alert alert-danger">
            <div *ngIf="body.errors.required">
                Body is required.
            </div>

            <div *ngIf="body.errors.maxlength">
                Body can only be 20 characters long
            </div>
        </div>

        <br>
        <input type="submit" class="btn btn-primary" value="Send" [disabled]="!formModel.valid">
    </form>

    <div *ngIf="postId>=0" class="alert alert-success">
        Updated post with id: {{postId}}
    </div>

</div>
</section>


<article class="content-section">
    <h1>Lista postów:</h1>

    <li class="list-group-item" *ngFor="let post of posts; index as i" (click)="select(i)">
        <h4>{{post.id}}. Title: {{post.title}}</h4>
        <p>Body: {{post.body}}</p>

    </li>

</article>

